/*

Jappix - An open social platform
This is the home CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou

*/

#home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 550px;
    min-width: 875px;
}

#home .corporation,
#home .corporation .corp_network,
#home .aboutus,
#home .aboutus .aboutus_org,
#home .locale,
#home .obsolete {
    background-color: rgb(20,20,20);
    background-color: rgba(20,20,20,0.70);
    color: white;
    position: absolute;
    top: 0;
    text-shadow: 0 0 1px black;
    z-index: 100;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#home .corporation,
#home .aboutus {
    height: 26px;
    width: 34px;
}

#home .corporation {
    background-position: 9px -120px;
    left: 12px;
}

html[dir="rtl"] #home .corporation {
    left: auto;
    right: 12px;
}

#home .aboutus {
    background-position: 9px -351px;
    left: 52px;
}

html[dir="rtl"] #home .aboutus {
    left: auto;
    right: 52px;
}

#home .corporation.hovered,
#home .aboutus.hovered {
    height: 28px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#home .corporation .corp_network,
#home .aboutus .aboutus_org {
    width: 180px;
    padding: 10px 12px;
    top: 28px;
    left: 0;
    display: none;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

html[dir="rtl"] #home .corporation .corp_network,
html[dir="rtl"] #home .aboutus .aboutus_org {
    left: auto;
    right: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 3px;
}

#home .corporation.hovered .corp_network,
#home .aboutus.hovered .aboutus_org {
    display: block;
}

#home .corporation .corp_network h2,
#home .aboutus .aboutus_org h2 {
    font-size: 1.1em;
    margin: 12px 0 4px 0;
}

#home .corporation .corp_network h2.nomargin {
    margin-top: 0;
}

#home .aboutus.hovered .aboutus_org span.version {
    font-size: 0.8em;
    display: block;
}

#home .corporation .corp_network a,
#home .aboutus .aboutus_org span.one {
    margin: 2px 0;
    padding: 2px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#home .aboutus .aboutus_org span.one {
    display: block;
}

#home .corporation .corp_network a span,
#home .aboutus .aboutus_org span.one a.name,
#home .aboutus .aboutus_org span.one a.desc {
    margin: 2px 0;
    display: block;
}

#home .corporation .corp_network a span.name,
#home .aboutus .aboutus_org span.one a.name {
    font-weight: bold;
    font-size: 0.9em;
}

#home .corporation .corp_network a span.desc,
#home .aboutus .aboutus_org span.one a.desc {
    font-size: 0.7em;
    margin-left: 2px;
}

#home .locale {
    left: 92px;
    font-size: 0.85em;
}

html[dir="rtl"] #home .locale {
    left: auto;
    right: 92px;
}

#home .locale .current {
    height: 19px;
    padding: 3px 12px 4px 12px;
    font-weight: bold;
}

#home .locale .current:hover {
    cursor: default;
}

#home .locale .current .current_align {
    height: 19px;
    vertical-align: middle;
    display: table-cell;
}

#home .locale .list {
    margin: 2px 0 2px;
}

#home .locale .list a,
#home .corporation .corp_network a,
#home .aboutus .aboutus_org a {
    color: white;
    text-decoration: none;
    display: block;
}

#home .locale .list a {
    padding: 3px 10px;
}

#home .locale .list a:hover,
#home .locale .list a:focus,
#home .corporation .corp_network a:hover,
#home .corporation .corp_network a:focus,
#home .aboutus .aboutus_org span.one:hover {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.1);
}

#home .locale .list a:hover,
#home .locale .list a:focus,
#home .corporation .corp_network a:hover,
#home .corporation .corp_network a:focus {
    cursor: pointer;
}

#home .locale .list a:active,
#home .corporation .corp_network a:active,
#home .aboutus .aboutus_org span.one:active {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.14);
}

#home .obsolete {
    height: 60px;
    padding: 4px 10px;
    right: 12px;
    font-size: 0.9em;
    font-weight: bold;
    display: none;
}

html[dir="rtl"] #home .obsolete {
    right: auto;
    left: 12px;
}

#home .obsolete a {
    height: 33px;
    width: 33px;
    margin: 5px 2px 0 0;
    float: left;
}

html[dir="rtl"] #home .obsolete a {
    margin-right: 0;
    margin-left: 2px;
    float: right;
}

#home .obsolete a:hover,
#home .obsolete a:focus {
    opacity: 0.8;
}

#home .obsolete a:active {
    opacity: 0.6;
}

#home .obsolete a.firefox {
    background-position: 1px 0;
}

#home .obsolete a.chrome {
    background-position: -34px 0;
}

#home .obsolete a.safari {
    background-position: -68px 0;
}

#home .obsolete a.opera {
    background-position: -101px 0;
}

#home .obsolete a.ie {
    background-position: -135px 0;
}

#home .plane {
    background-position: 0 -432px;
    width: 507px;
    height: 328px;
    position: absolute;
    left: 0;
    top: 60px;
}

#home .main {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    width: 800px;
    height: 400px;
    left: 50%;
    margin-left: -400px;
    z-index: 50;
}

#home .mainview {
    background-color: rgb(20,20,20);
    background-color: rgba(20,20,20,0.85);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    -moz-box-shadow: 0 0 35px #5c5c5c;
    -webkit-box-shadow: 0 0 35px #5c5c5c;
    box-shadow: 0 0 35px #5c5c5c;
}

#home .left {
    float: left;
    width: 350px;
    height: 370px;
    margin: 15px 0 15px 15px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px black;
}

html[dir="rtl"] #home .left {
    margin-left: 0;
    margin-right: 15px;
    float: right;
}

#home .left .logo {
    background-position: 0 0;
    float: left;
    margin: 30px 0 35px 30px;
    width: 291px;
    height: 86px;
}

#home .left p.upper {
    font-weight: bold;
    margin: 12px 0 35px 0;
}

#home .left p.secondary {
    margin: 8px 0 0 16px;
    font-size: 0.9em;
    width: 320px;
}

html[dir="rtl"] #home .left p.secondary {
    margin-left: auto;
    margin-right: 16px;
}

#home .right {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF, #D8D8D8);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #D8D8D8 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #D8D8D8 100%);
    float: right;
    width: 385px;
    height: 350px;
    margin: 15px 15px 15px 0;
    padding: 10px;
    font-size: 13.4px;
    text-align: justify;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

html[dir="rtl"] #home .right {
    float: left;
    margin-right: 0;
    margin-left: 15px;
}

#home .right h1 {
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 1px black dotted;
}

#home .right p {
    margin-bottom: 4px;
}

#home .right p a {
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-color: black;
}

#home .right p a:hover,
#home .right p a:focus {
    border-style: solid;
    text-decoration: none;
}

#home .right button {
    display: block;
    margin-left: 22px;
    width: 342px;
    height: 64px;
    text-decoration: none;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#home .right button:focus {
    outline: 0 none;
}

html[dir="rtl"] #home .right button {
    margin-right: 21px;
    margin-left: auto;
}

#home .right button:hover {
    cursor: pointer;
}

#home .right button span {
    float: left;
}

html[dir="rtl"] #home .right button span {
    float: right;
}

#home .right button span.home-images {
    height: 16px;
    width: 16px;
    margin: 4px 7px 7px 24px;
}

html[dir="rtl"] #home .right button span.home-images {
    margin-right: 24px;
    margin-left: 7px;
}

#home .right button span.text {
    padding-left: 20px;
    font-size: 1.5em;
}

html[dir="rtl"] #home .right button span.text {
    padding-left: 0;
    padding-right: 20px;
}

#home .right .login {
    background-color: #5C5C5C;
    background-position: 0 0;
    border: 1px solid #5cb55c;
    margin-top: 22px;
    -moz-box-shadow: 0 0 6px #89e389;
    -webkit-box-shadow: 0 0 6px #89e389;
    box-shadow: 0 0 6px #89e389;
}

#home .right .login:hover,
#home .right .login:focus {
    border: 1px solid #419141;
    -moz-box-shadow: 0 0 10px #72d071;
    -webkit-box-shadow: 0 0 10px #72d071;
    box-shadow: 0 0 10px #72d071;
}

#home .right .login:active {
    background-color: #97e896;
    background-position: 0 -80px;
}

#home .right .login span.text {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}

#home .right .login span.home-images {
    background-position: 0 -230px;
}

#home .right .register {
    background-color: #f6ef82;
    background-position: 0 -160px;
    border: 1px solid #e3db56;
    margin-top: 15px;
    -moz-box-shadow: 0 0 6px #f1e968;
    -webkit-box-shadow: 0 0 6px #f1e968;
    box-shadow: 0 0 6px #f1e968;
}

#home .right .register:hover,
#home .right .register:focus {
    border: 1px solid #d2c93f;
    -moz-box-shadow: 0 0 10px #e0d743;
    -webkit-box-shadow: 0 0 10px #e0d743;
    box-shadow: 0 0 10px #e0d743;
}

#home .right .register:active {
    background-color: #fdf7af;
    background-position: 0 -240px;
}

#home .right .register span.text {
    color: #6d6813;
    text-shadow: 1px 1px 1px #dbd56e;
}

#home .right .register span.home-images {
    background-position: 0 -204px;
}

#home .right p.notice {
    margin-top: 24px;
    font-size: 0.9em;
    font-weight: bold;
}

#home .right .navigation {
    clear: both;
    width: 385px;
    border-top: 1px black dotted;
    position: absolute;
    text-align: right;
    bottom: 25px;
    right: 25px;
    padding-top: 6px;
}

html[dir="rtl"] #home .right .navigation {
    right: auto;
    left: 25px;
}

#home .right .navigation a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: 0.9em;
    height: 16px;
    padding-left: 21px;
    float: right;
}

html[dir="rtl"] #home .right .navigation a {
    margin-left: 0;
    margin-right: 10px;
    float: left;
}

#home .right .navigation a:hover,
#home .right .navigation a:focus {
    text-decoration: underline;
}

#home .right .navigation a.unencrypted {
    background-position: 0 -256px;
}

#home .right .navigation a.encrypted {
    background-position: 0 -282px;
}

#home .right .navigation a.manager {
    background-position: 0 -152px;
}

#home .right .navigation a.mobile {
    background-position: 0 -178px;
}

#home .right .navigation a span.vert_center {
    height: 16px;
    vertical-align: middle;
    display: table-cell;
}

#home .friendsview {
    height: 65px;
    position: absolute;
    bottom: -65px;
    left: 15px;
    right: 15px;
    z-index: 1;
    opacity: 0.8;
}

#home .friendsview .friends {
    background: #e4eef9;
    background: -moz-linear-gradient(top, #e4eef9, #c5e1ff);
    background: -webkit-gradient(linear, left top, left bottom, from(#e4eef9), to(#c5e1ff));
    background: -webkit-linear-gradient(top, #e4eef9 0%, #c5e1ff 100%);
    background: -o-linear-gradient(top, #e4eef9 0%, #c5e1ff 100%);
    font-size: 11px !important;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

#home .friendsview .friends,
#home .friendsview .friends a {
    color: black;
}

#home .friendsview .friends .group {
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
}

#home .friendsview .friends .group.content {
    width: 340px;
    left: 10px;
}

#home .friendsview .friends .group.standard {
    width: 289px;
    padding-left: 10px;
    left: 360px;
}

#home .friendsview .friends .group.content table,
#home .friendsview .friends .group.standard table {
    margin-top: -4px;
}

#home .friendsview .friends .group.content table a,
#home .friendsview .friends .group.standard table a {
    text-decoration: underline;
}

#home .friendsview .friends .group.content table td {
    padding-top: 3px;
}

#home .friendsview .friends .group.content a.available_space,
#home .friendsview .friends .group.standard a.available_space,
#home .friendsview .friends a.group.refer {
    opacity: 0.75;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

#home .friendsview .friends .group.content a.available_space:hover,
#home .friendsview .friends .group.content a.available_space:focus,
#home .friendsview .friends .group.standard a.available_space:hover,
#home .friendsview .friends .group.standard a.available_space:focus,
#home .friendsview .friends a.group.refer:hover,
#home .friendsview .friends a.group.refer:focus {
    opacity: 1;
}

#home .friendsview .friends .group.content a.available_space,
#home .friendsview .friends .group.standard a.available_space {
    border: 1px dashed #909090;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#home .friendsview .friends .group.standard a.available_space {
    left: 10px;
}

#home .friendsview .friends .group.standard br {
    display: none;
}

#home .friendsview .friends .group.standard a {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1px;
    float: left;
    width: 50%;
}

#home .friendsview .friends .group.standard a:nth-child(even) {
    float: right;
}

#home .friendsview .friends a.group.refer {
    width: 81px;
    padding-left: 10px;
    right: 10px;
}

#home .friendsview .friends a.group.refer span {
    display: block;
}

#home .friendsview .friends a.group.refer span.icon {
    background-position: 0 -385px;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

#home .friendsview .friends a.group.refer:hover span.icon,
#home .friendsview .friends a.group.refer:focus span.icon {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

#home .friendsview .friends a.group.refer span.label {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 6px;
}

#home .friendsview .friends .group .separator,
#home .friendsview .friends .group .separator .sep_top,
#home .friendsview .friends .group .separator .sep_bottom {
    position: absolute;
}

#home .friendsview .friends .group .separator {
    width: 1px;
    top: 0;
    bottom: 0;
    left: -1px;
}

#home .friendsview .friends .group .separator .sep_top,
#home .friendsview .friends .group .separator .sep_bottom {
    height: 50%;
    left: 0;
    right: 0;
}

#home .friendsview .friends .group .separator .sep_top {
    background: #eeeeee;
    background: rgba(0,0,0,0.3);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    top: 0;
}

#home .friendsview .friends .group .separator .sep_bottom {
    background: #eeeeee;
    background: rgba(0,0,0,0.3);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    bottom: 0;
}

#home a.advanced {
    background-position: 0 -334px;
    font-size: 0.9em;
    height: 16px;
    margin-bottom: 10px;
    padding-left: 16px;
    float: left;
}

html[dir="rtl"] #home a.advanced {
    float: right;
}

#home fieldset.advanced {
    display: none;
}

#home .anonymouser input[type="text"] {
    width: 160px;
}

#home .homediv.registerer .success a {
    font-weight: bold;
    text-decoration: underline;
}

#home fieldset {
    border: 1px solid black;
    margin: 18px 0 12px 0;
    padding: 5px 0 4px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

html[dir="rtl"] #home fieldset {
    padding-left: 6px;
}

#home legend {
    font-size: 0.9em;
    margin: 0 0 0 15px;
    padding: 0 2px;
    text-transform: uppercase;
}

#home label {
    width: 110px;
    display: block;
    float: left;
    clear: both;
    margin: 0 0 5px 12px;
}

html[dir="rtl"] #home label {
    margin-left: auto;
    margin-right: 12px;
    float: right;
}

#home input,
#home select {
    float: left;
    margin-bottom: 5px;
}

html[dir="rtl"] #home input,
html[dir="rtl"] #home select {
    float: right;
}

#home input[type="text"],
#home input[type="password"],
#home select {
    width: 140px;
    margin-top: -2px;
}

#home .submit {
    clear: both;
}

#home input[type="submit"] {
    min-width: 120px;
    float: right;
}

#home span.jid {
    display: block;
    float: left;
    margin: 0 4px;
}

html[dir="rtl"] #home span.jid {
    float: right;
}

#home input.nick,
#home input.server,
#home input.password,
#home input.spassword {
    width: 110px;
}

#home input.password {
    margin-right: 22px;
}

html[dir="rtl"] #home input.password {
    margin-right: auto;
}

html[dir="rtl"] #home input.spassword {
    margin-right: 22px;
}

html[dir="rtl"] #home .loginer input.remember,
html[dir="rtl"] #home .loginer input.password,
html[dir="rtl"] #home .loginer input.resource,
html[dir="rtl"] #home .loginer select.priority,
html[dir="rtl"] #home .anonymouser input.room,
html[dir="rtl"] #home .anonymouser input.nick {
    float: right;
}

#home img.captcha_img {
    margin: -2px 0 0 20px;
    float: left;
}

#home .info {
    padding: 6px;
    position: absolute;
    bottom: 62px;
    right: 35px;
    border-width: 1px;
    border-style: dotted;
    clear: both;
    width: 350px;
}

html[dir="rtl"] #home .info {
    right: auto;
    left: 35px;
}

#home .info.success {
    background-color: #aee578;
    border-color: #85b05c;
    display: none;
}

#home .info.fail {
    background-color: #f19d9d;
    border-color: #b34f4f;
}

#home .info.report {
    background-color: #f3f48b;
    border-color: #c9c66b;
    display: none;
}

#home .info.report span {
    text-decoration: underline;
}

#home .notice.simple {
    background-color: rgb(20,20,20);
    background-color: rgba(20,20,20,0.7);
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    text-shadow: 0 1px 0 black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 20px;
    z-index: 100;
    -moz-box-shadow: 0 0 25px #ababab;
    -webkit-box-shadow: 0 0 25px #ababab;
    box-shadow: 0 0 25px #ababab;
}

#home .notice.simple .title {
    background-color: rgb(20,20,20);
    background-color: rgba(20,20,20,0.4);
    background-position: 8px -299px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #141414;
    font-weight: bold;
    padding: 8px 8px 8px 30px;
}

#home .notice.simple .text {
    margin-left: 20px;
}

html[dir="rtl"] #home .notice.simple .text {
    margin-left: 0;
    margin-right: 20px;
}