/*

Jappix - An open social platform
This is the images CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou

*/

.body-images {
    background-image: url(../images/sprites/background.png);
    background-repeat: repeat;
    background-color: #93c5fa;
}

.install-images {
    background-image: url(../images/sprites/install.png);
    background-repeat: no-repeat;
}

.home-images {
    background-image: url(../images/sprites/home.png);
    background-repeat: no-repeat;
}

.browsers-images {
    background-image: url(../images/sprites/browsers.png);
    background-repeat: no-repeat;
}

.buttons-images {
    background-image: url(../images/sprites/buttons.png);
    background-repeat: no-repeat;
}

.talk-images {
    background-image: url(../images/sprites/talk.png);
    background-repeat: no-repeat;
}

.smileys-images {
    background-image: url(../images/sprites/smileys.png);
    background-repeat: no-repeat;
}

.welcome-images {
    background-image: url(../images/sprites/welcome.png);
    background-repeat: no-repeat;
}

.me-images {
    background-image: url(../images/sprites/me.png);
    background-repeat: no-repeat;
}

.call-images {
    background-image: url(../images/sprites/call.png);
    background-repeat: no-repeat;
}

.manager-images {
    background-image: url(../images/sprites/manager.png);
    background-repeat: no-repeat;
}

.mobile-images {
    background-image: url(../images/sprites/mobile.png);
    background-repeat: no-repeat;
}

.wait-small {
    background-image: url(../images/wait/wait-small.gif);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.wait-medium {
    background-image: url(../images/wait/wait-medium.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.wait-big {
    background-image: url(../images/wait/wait-big.gif);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.wait-typing {
    background-image: url(../images/wait/wait-typing.gif);
    background-repeat: no-repeat;
    height: 4px;
    width: 16px;
}