/*

Jappix - An open social platform
This is the page-engine CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou

*/

#page-engine {
    background-color: #f4f4f4;
    position: absolute;
    top: 40px;
    bottom: 6px;
    right: 6px;
    left: 6px;
    z-index: 8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#page-engine .top {
    background: #e8f1f3;
    background: -moz-linear-gradient(top, #F9F9F9, #F2F2F2);
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#F2F2F2));
    background: -webkit-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
    background: -o-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
    border-bottom: 1px solid #d0d0d0;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px;
    height: 80px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

#page-engine .top .avatar-container {
    text-align: center;
    margin: 2px 0 0 10px;
    height: 76px;
    width: 76px;
    float: left;
}

html[dir="rtl"] #page-engine .top .avatar-container {
    margin-left: 0;
    margin-right: 10px;
    float: right;
}

#page-engine .top .avatar {
    max-height: 76px;
    max-width: 76px;
}

#page-engine .top .name {
    text-align: right;
    padding: 7px;
}

html[dir="rtl"] #page-engine .top .name {
    text-align: left;
}

#page-engine p.bc-name {
    font-size: 2.3em;
    margin-bottom: 5px;
}

#page-engine p.bc-infos {
    font-size: 0.85em;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 115px;
    right: 12px;
}

html[dir="rtl"] #page-engine p.bc-infos {
    left: 12px;
    right: 115px;
}

#page-engine .page-engine-chan[data-type="groupchat"] p.bc-infos {
    left: 12px;
}

#page-engine p.bc-infos span.show {
    padding-left: 18px;
}

#page-engine p.bc-infos a {
    text-decoration: underline;
}

#page-engine div.bc-pep {
    float: right;
}

html[dir="rtl"] #page-engine div.bc-pep {
    float: left;
}

#page-engine div.bc-pep a {
    height: 16px;
    width: 16px;
    margin-left: 4px;
    float: left;
}

html[dir="rtl"] #page-engine div.bc-pep a {
    margin-right: 4px;
    margin-left: 0;
}

#page-engine div.bc-pep a:hover {
    cursor: default;
}

#page-engine div.bc-pep a[href]:hover {
    cursor: pointer;
}

#page-engine .content,
#page-engine .list {
    font-size: 0.9em;
    position: absolute;
    top: 93px;
    right: 0;
    bottom: 29px;
    overflow: auto;
    -moz-box-shadow: inset 0 3px 10px #e8e8e8;
    -webkit-box-shadow: inset 0 3px 10px #e8e8e8;
    box-shadow: inset 0 3px 10px #e8e8e8;
}

#page-engine .content {
    left: 0;
    padding: 12px 14px 0;
}

#page-engine .content a {
    text-decoration: underline;
}

#page-engine .content .wait-mam {
    margin: 2px auto 14px auto;
    display: none;
}

#page-engine .page-engine-chan {
    display: none;
}

#page-engine .chat .content,
#page-engine .chat .list {
    bottom: 93px;
}

#page-engine .chat .content {
    padding-bottom: 24px;
}

#page-engine .groupchat-content {
    padding-bottom: 16px !important;
    right: 191px !important;
}

html[dir="rtl"] #page-engine .groupchat-content {
    right: 0 !important;
    left: 191px !important;
}

#page-engine .list {
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #c8c8c8;
    padding: 8px 0 0;
    width: 190px;
    right: 0;
}

html[dir="rtl"] #page-engine .list {
    border-width: 0 1px 0 0;
    right: auto;
    left: 0;
}

#page-engine .list .role {
    display: none;
    margin-bottom: 10px;
}

#page-engine .list .title {
    font-weight: bold;
    color: #383838;
    margin-left: 8px;
}

#page-engine .list .user {
    background: #eff2f2;
    background: -moz-linear-gradient(top, #eff2f2, #ecefef);
    background: -webkit-gradient(linear, left top, left bottom, from(#eff2f2), to(#ecefef));
    background: -webkit-linear-gradient(top, #eff2f2 0%, #ecefef 100%);
    background: -o-linear-gradient(top, #eff2f2 0%, #ecefef 100%);
    border-color: #c8c8c8;
    border-width: 1px 0;
    border-style: solid;
    color: #383838;
    margin-bottom: 3px;
    overflow: hidden;
}

#page-engine .list .user:hover {
    background: #e9ecec;
    cursor: pointer;
}

#page-engine .list .user:active {
    background: #e3e7e7;
}

#page-engine .list .user.myself {
    background-color: #eff2f2;
    cursor: default;
}

#page-engine .list .user .user-details {
    height: 32px;
}

#page-engine .list .user .user-details .name {
    float: left;
    height: 18px;
    overflow: hidden;
    margin: 7px 0 7px 3px;
    padding-left: 18px;
}

html[dir="rtl"] #page-engine .list .user .user-details .name {
    margin-left: auto;
    margin-right: 8px;
    float: right;
}

#page-engine .list .user .user-details .avatar-container {
    text-align: center;
    float: right;
    height: 32px;
    width: 32px;
}

html[dir="rtl"] #page-engine .list .user .user-details .avatar-container {
    float: left;
}

#page-engine .list .user .user-details .avatar {
    max-height: 32px;
    max-width: 32px;
}

#page-engine .list .user .user-actions {
    margin-top: 2px;
    display: none;
}

#page-engine .list .user .user-actions .action {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #e1e1e1;
    text-align: center;
    margin: 0 0 0 6px;
    padding: 0 6px 0 0;
    float: left;
}

#page-engine .list .user .user-actions .action a {
    width: 16px;
    height: 16px;
    margin: 2px 6px 1px 6px;
    display: inline-block;
    opacity: 0.8;
}

#page-engine .list .user .user-actions .action a:hover,
#page-engine .list .user .user-actions .action a:focus {
    opacity: 1;
}

#page-engine .list .user .user-actions .action.promote a {
    background-position: 0 -2156px;
}

#page-engine .list .user .user-actions .action.demote a {
    background-position: 0 -2172px;
}

#page-engine .list .user .user-actions .action.kick a {
    background-position: 0 -2188px;
}

#page-engine .list .user .user-actions .action.add {
    border-width: 0 0 0 1px;
    margin: 0 6px 0 0;
    padding: 0 0 0 6px;
    float: right;
}

#page-engine .list .user .user-actions .action.add a {
    background-position: 0 -1047px;
}

#page-engine .one-group {
    border-bottom: 1px dotted #d0d0d0;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

#page-engine .one-line {
    position: relative;
}

#page-engine .one-line.is-sending {
    opacity: 0.6;
}

#page-engine .one-line .correction-edit,
#page-engine .one-line .correction-label,
#page-engine .one-line.user-message[data-edited] .corrected-info,
#page-engine .one-line .message-marker {
    font-size: 0.8em;
    position: absolute;
    right: 0;
    top: 0;
}

html[dir="rtl"] #page-engine .one-line .correction-edit,
html[dir="rtl"] #page-engine .one-line .correction-label,
html[dir="rtl"] #page-engine .one-line.user-message[data-edited] .corrected-info,
html[dir="rtl"] #page-engine .one-line .message-marker  {
    left: 0;
    right: auto;
}

#page-engine .one-line .correction-edit,
#page-engine .one-line .correction-label {
    border: 1px solid #7f7f7f;
    color: black;
    font-size: 0.8em;
    text-decoration: none;
    margin-top: -1px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 0;
}

#page-engine .one-line .correction-edit {
    opacity: 0.4;
    display: none;
}

#page-engine .page-engine-chan[data-correction="true"] .one-line .correction-edit:hover,
#page-engine .page-engine-chan[data-correction="true"] .one-line .correction-edit:focus {
    opacity: 1;
}

#page-engine .one-line.user-message[data-edited] .corrected-info,
#page-engine .one-line .message-marker {
    color: #969696;
    margin-top: 2px;
}

#page-engine .one-line .message-marker {
    display: none;
}

#page-engine .one-line .message-marker.message-marker-read {
    background-position: 0 -2227px;
    padding-left: 11px;
}

#page-engine .page-engine-chan[data-correction="true"] .one-line.user-message[data-mode="me"]:last-child:hover .correction-edit {
    display: block;
}

#page-engine .one-line.correction-active .corrected-info,
#page-engine .one-line.user-message[data-mode="me"]:last-child:hover .corrected-info {
    display: none;
}

#page-engine .one-line.correction-active .message-marker,
#page-engine .one-line.user-message[data-mode="me"]:last-child:hover .message-marker {
    display: none !important;
}

#page-engine .one-line .message-content {
    margin-right: 80px;
}

html[dir="rtl"] #page-engine .one-line .message-content {
    margin-right: 0;
    margin-left: 80px;
}

#page-engine .one-line,
#page-engine .one-group b.name {
    padding-left: 50px;
    word-wrap: break-word;
}

html[dir="rtl"] #page-engine .one-line,
html[dir="rtl"] #page-engine .one-group b.name {
    padding-left: auto;
    padding-right: 50px;
}

#page-engine .one-line.correction-active {
    opacity: 0.5;
}

#page-engine .one-group b.name {
    display: block;
    margin-bottom: 4px;
    line-height: 1.4;
}

#page-engine .one-group b.name.me {
    color: #123a5c;
}

#page-engine .one-group b.name.him {
    color: #801e1e;
}

#page-engine .one-group span.date {
    float: right;
    font-size: 0.95em;
}

html[dir="rtl"] #page-engine .one-group span.date {
    float: left;
}

#page-engine .one-group .avatar-container {
    text-align: center;
    margin: 4px 0 0 6px;
    height: 30px;
    width: 30px;
    float: left;
}

html[dir="rtl"] #page-engine .one-group .avatar-container {
    margin-left: auto;
    margin-right: 6px;
    float: right;
}

#page-engine .one-group .avatar {
    max-height: 30px;
    max-width: 30px;
}

#page-engine b.name.talk-images {
    background-position: 50px -99px;
    padding-left: 68px;
}

#page-engine .user-message {
    margin-bottom: 3px;
    line-height: 1.3;
}

#page-engine .system-message {
    color: #053805 !important;
    margin-bottom: 3px !important;
    padding-left: 0 !important;
}

html[dir="rtl"] #page-engine .system-message {
    padding-right: 0 !important;
}

#page-engine .system-message a {
    color: #053805 !important;
}

#page-engine .system-message p.help b {
    margin-bottom: 5px;
    text-decoration: underline;
    display: block;
}

#page-engine .system-message p.help em {
    width: 240px;
    text-decoration: underline;
    margin-left: 5px;
    float: left;
}

#page-engine .my-nick {
    font-weight: bold;
}

#page-engine .old-message {
    font-size: 11px !important;
    margin-bottom: 1px !important;
}

#page-engine .chatstate {
    background-color: rgb(234,234,234);
    background-color: rgba(234,234,234,0.8);
    color: #2c2c2c;
    padding: 3px 10px 2px 8px;
    position: absolute;
    bottom: 93px;
    left: 0;
    font-size: 0.75em;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

html[dir="rtl"] #page-engine .chatstate {
    left: auto;
    right: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
}

#page-engine .text {
    height: 93px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#page-engine .footer {
    background: #e8f1f3;
    background: -moz-linear-gradient(top, #F9F9F9, #F2F2F2);
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#F2F2F2));
    background: -webkit-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
    background: -o-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
    border-color: #d0d0d0;
    border-width: 1px 0 0;
    border-style: solid;
    color: black;
    position: absolute;
    left: 0;
    right: 0;
    padding: 6px;
    height: 16px;
}

#page-engine .chat .footer {
    border-width: 1px 0;
    position: static;
}

#page-engine .chat-tools-content {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    float: left;
}

html[dir="rtl"] #page-engine .chat-tools-content {
    float: right;
}

#page-engine .tools-tooltip {
    display: block;
    height: 16px;
    width: 16px;
    overflow: hidden;
    float: left;
}

#page-engine .text .chat-tools-smileys {
    margin-left: 4px;
}

html[dir="rtl"] #page-engine .text .chat-tools-smileys {
    margin-left: 0;
}

#page-engine .text .chat-tools-file.mini .bubble-file {
    z-index: 39;
}

#page-engine .text .chat-tools-file.mini .tooltip-subitem {
    width: 22px;
    height: 20px;
}

#page-engine .text .chat-tools-file.mini .wait {
    margin: -2px 0 0 -1px;
}

#page-engine .text .tools-smileys {
    background-position: 0 -388px;
}

#page-engine .text .tools-style {
    background-position: 0 -700px;
}

#page-engine .text .tools-file {
    background-position: 0 -1956px;
}

#page-engine .text .tools-save {
    background-position: 0 -719px;
}

#page-engine .text .tools-clear {
    background-position: 0 -739px;
}

#page-engine .text .tools-infos,
#channel .top div.shortcuts a.profile {
    background-position: 0 -758px;
}

#page-engine .text .tools-jingle-video {
    background-position: 0 -2048px;
}

#page-engine .text .tools-jingle-audio {
    background-position: 0 -2080px;
}

body.in_jingle_call #page-engine .text .tools-jingle-video,
body.in_jingle_call #page-engine .text .tools-jingle-audio,
body.in_muji_call #page-engine .text .tools-jingle-video,
body.in_muji_call #page-engine .text .tools-jingle-audio {
    opacity: 0.35;
    cursor: default;
}

#page-engine .text .chat-tools-file,
#page-engine .text .tools-add,
#page-engine .text .tools-mucadmin,
#page-engine .text .tools-jingle-video,
#page-engine .text .tools-jingle-audio {
    display: none;
}

#page-engine .text .tools-mucadmin {
    background-position: 0 -777px;
}

#page-engine .bubble-style label {
    margin: 0 0 3px 0 !important;
}

#page-engine .bubble-style label.font {
    height: 14px !important;
}

#page-engine .bubble-style label.font div.font-icon {
    background-position: 0 -1978px;
    width: 14px;
    height: 11px;
    float: left;
}

#page-engine .bubble-style label.font div.font-change,
#page-engine .bubble-style label.font div.fontsize-change {
    position: absolute;
}

#page-engine .bubble-style label.font div.font-change {
    left: 59px;
}

#page-engine .bubble-style label.font div.fontsize-change {
    left: 28px;
}

#page-engine .bubble-style label.font div.font-change a.font-current,
#page-engine .bubble-style label.font div.fontsize-change a.fontsize-current {
    text-decoration: none;
    float: left;
}

#page-engine .bubble-style label.font div.font-change a.font-current {
    width: 140px;
}

#page-engine .bubble-style label.font div.fontsize-change a.fontsize-current {
    width: 25px;
}

#page-engine .bubble-style label.font div.font-change a.font-current:hover,
#page-engine .bubble-style label.font div.font-change a.font-current:focus,
#page-engine .bubble-style label.font div.fontsize-change a.fontsize-current:hover,
#page-engine .bubble-style label.font div.fontsize-change a.fontsize-current:focus {
    text-decoration: underline;
}

#page-engine .bubble-style label.font div.font-change.listed,
#page-engine .bubble-style label.font div.fontsize-change.listed {
    margin-bottom: 15px;
}

#page-engine .bubble-style label.font div.font-change div.font-list,
#page-engine .bubble-style label.font div.font-change.listed a.font-current,
#page-engine .bubble-style label.font div.fontsize-change div.fontsize-list,
#page-engine .bubble-style label.font div.fontsize-change.listed a.fontsize-current,
#page-engine .bubble-style div.color-picker div.color-hex {
    border-style: solid;
    border-color: black;
    background: white;
    -moz-box-shadow: 0 0 5px #5f5f5f;
    -webkit-box-shadow: 0 0 5px #5f5f5f;
    box-shadow: 0 0 5px #5f5f5f;
}

#page-engine .bubble-style label.font div.font-change.listed a.font-current,
#page-engine .bubble-style label.font div.fontsize-change.listed a.fontsize-current {
    background: rgb(255,255,255);
    background: rgba(255,255,255, 0.8);
    border-width: 0 1px 1px 1px;
    color: black;
    text-shadow: none;
    text-decoration: none;
    padding: 2px 6px;
    position: absolute;
    top: -2px;
    left: -7px;
    z-index: 2;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#page-engine .bubble-style label.font div.font-change.listed a.font-current {
    width: 133px;
}

#page-engine .bubble-style label.font div.fontsize-change.listed a.fontsize-current {
    width: 18px;
}

#page-engine .bubble-style label.font div.font-change div.font-list,
#page-engine .bubble-style label.font div.fontsize-change div.fontsize-list,
#page-engine .bubble-style div.color-picker div.color-hex {
    background: rgb(255,255,255);
    background: rgba(255,255,255, 0.9);
    border-width: 1px 1px 0 1px;
    padding: 2px 0;
    overflow: auto;
    position: absolute;
    bottom: 2px;
    left: -7px;
    z-index: 1;
    display: none;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

#page-engine .bubble-style label.font div.font-change div.font-list {
    width: 145px;
    height: 250px;
}

#page-engine .bubble-style label.font div.fontsize-change div.fontsize-list {
    width: 30px;
}

#page-engine .bubble-style label.font div.font-change.listed div.font-list,
#page-engine .bubble-style label.font div.fontsize-change.listed div.fontsize-list,
#page-engine .bubble-style div.color-picker.opened div.color-hex {
    display: block;
}

#page-engine .bubble-style label.font div.font-change div.font-list a,
#page-engine .bubble-style label.font div.fontsize-change div.fontsize-list a {
    font-size: 1em;
    text-shadow: none;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 3px 6px;
    display: block;
}

#page-engine .bubble-style label.font div.font-change div.font-list a:hover,
#page-engine .bubble-style label.font div.font-change div.font-list a:focus,
#page-engine .bubble-style label.font div.fontsize-change div.fontsize-list a:hover,
#page-engine .bubble-style label.font div.fontsize-change div.fontsize-list a:focus {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    color: white;
}

#page-engine .bubble-style label.font div.fontsize-change div.fontsize-list a.reset {
    background-position: 7px -2006px;
    height: 14px;
}

#page-engine .bubble-style label.font div.fontsize-change div.fontsize-list a.reset:hover,
#page-engine .bubble-style label.font div.fontsize-change div.fontsize-list a.reset:focus {
    background-position: 7px -2025px;
}

#page-engine .bubble-style label.bold {
    font-weight: bold;
}

#page-engine .bubble-style label.italic {
    font-style: italic;
}

#page-engine .bubble-style label.underline {
    text-decoration: underline;
}

#page-engine .bubble-style a.color {
    height: 12px;
    width: 18px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    margin: 4px 5px 0 0;
    float: left;
    opacity: 0.6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

#page-engine .bubble-style a.color:hover,
#page-engine .bubble-style a.color:focus {
    opacity: 0.7;
}

#page-engine .bubble-style a.color.selected {
    opacity: 1;
    border-color: #ffb20d;
}

#page-engine .bubble-style div.color-picker {
    margin-left: 4px;
    float: left;
    position: relative;
}

#page-engine .bubble-style div.color-picker a.color-more {
    background-position: 1px -1991px;
    height: 14px;
    width: 14px;
    margin-top: 4px;
    float: left;
}

#page-engine .bubble-style div.color-picker div.color-hex {
    border-width: 1px;
    width: 80px;
    height: auto;
    padding: 3px 5px;
    text-shadow: none;
    bottom: -5px;
    left: -52px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#page-engine .bubble-style div.color-picker div.color-hex span.hex-begin,
#page-engine .bubble-style div.color-picker div.color-hex input.hex-value {
    color: black;
    float: left;
}

#page-engine .bubble-style div.color-picker div.color-hex span.hex-begin {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 5px;
}

#page-engine .bubble-style div.color-picker div.color-hex input.hex-value {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.1);
    border: none;
    width: 60px;
}

#page-engine .bubble-file .tooltip-subitem {
    width: 240px;
}

#page-engine .bubble-file input[type="file"] {
    width: 220px;
}

#page-engine .bubble-file input[type="submit"],
#page-engine .bubble-file input[type="reset"] {
    margin: 4px 4px 0 0;
}

#page-engine .text .compose,
#page-engine .muc-ask,
#page-engine .correction-toolbox {
    position: absolute;
    left: 0;
}

#page-engine .text .compose,
#page-engine .correction-toolbox {
    top: 29px;
    bottom: 12px;
}

#page-engine .text .compose {
    right: 12px;
}

html[dir="rtl"] #page-engine .text .compose {
    right: 0;
    left: 12px;
}

#page-engine .text.correction-active .compose {
    left: 120px;
}

html[dir="rtl"] #page-engine .text.correction-active .compose {
    right: 120px;
}

#page-engine .correction-toolbox {
    width: 120px;
}

html[dir="rtl"] #page-engine .correction-toolbox {
    right: 0;
    left: auto;
}

#page-engine .correction-toolbox .correction-editing,
#page-engine .correction-toolbox .correction-cancel {
    display: block;
    color: black;
    font-size: 0.8em;
    text-decoration: none;
    text-align: center;
    margin: 7px 12px;
    padding: 2px 5px;
}

#page-engine .correction-toolbox .correction-editing {
    font-weight: bold;
    margin-top: 8px;
}

#page-engine .correction-toolbox .correction-cancel {
    background: #d15e6b;
    border: 1px solid #cc273f;
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#page-engine .muc-ask {
    right: 0;
    bottom: 0;
}

#page-engine .text textarea {
    border: 1px solid #c8c8c8;
    padding: 5px;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#page-engine .text.correction-active textarea {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

html[dir="rtl"] #page-engine .text.correction-active textarea {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

#page-engine .muc-ask {
    background-color: #e8f1f3;
    height: 64px;
    font-size: 0.9em;
    right: 0;
    z-index: 2;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#page-engine .muc-ask label {
    color: #224249;
    margin: 23px 10px 0 16px;
    font-weight: bold;
}

#page-engine .muc-ask input {
    width: 200px;
    margin: 19px 10px 0 10px;
    padding: 3px;
}

#page-engine .tooltip {
    position: absolute;
    bottom: 84px;
    margin-left: -13px;
    z-index: 40;
    font-size: 0.8em;
    color: white;
}

#page-engine .tooltip a {
    color: white;
    text-decoration: underline;
}

#page-engine .tooltip-subitem {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    width: 200px;
    height: 110px;
    text-shadow: 0 1px 1px black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

html[dir="rtl"] #page-engine .tooltip-subitem {
    margin-right: -10px;
}

#page-engine .tooltip-subarrow {
    background-position: 0 -251px;
    opacity: 0.8;
    height: 10px;
    width: 18px;
    margin-left: 12px;
}

html[dir="rtl"] #page-engine .tooltip-subarrow {
    margin-right: -1px;
    margin-left: auto;
}

#page-engine .tooltip .tooltip-top {
    margin-bottom: 8px;
    font-weight: bold;
}

#page-engine .tooltip label {
    margin-bottom: 4px;
    float: left;
    clear: both;
}

#page-engine .tooltip label input[type="checkbox"] {
    margin: 0 6px 0 0;
    float: left;
}

html[dir="rtl"] #page-engine .tooltip label input[type="checkbox"] {
    margin-left: 6px;
    margin-right: 0;
}

#page-engine .tooltip label.select {
    margin-top: 5px;
}

#page-engine .tooltip input,
#page-engine .tooltip select {
    float: left;
}

html[dir="rtl"] #page-engine .tooltip input,
html[dir="rtl"] #page-engine .tooltip select {
    float: right;
}

#page-engine .tooltip select {
    width: 100px;
}

#page-engine .tooltip .tooltip-actionlog:hover,
#page-engine .tooltip .tooltip-actionlog:focus {
    cursor: pointer;
    text-decoration: underline;
}
