/*

Jappix - An open social platform
This is the roster CSS stylesheet for Jappix

-------------------------------------------------

License: AGPL
Author: Valérian Saliou

*/

#roster {
        background-color: rgb(20,20,20);
        background-color: rgba(20,20,20,0.85);
        color: #919191;
        padding: 15px 6px 4px 6px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-box-shadow: 0 0 6px #5c5c5c;
        -webkit-box-shadow: 0 0 6px #5c5c5c;
        box-shadow: 0 0 6px #5c5c5c;
}

#roster .content {
        background: #F9F9F9;
        background: -moz-linear-gradient(top, #F9F9F9, #F2F2F2);
        background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#F2F2F2));
        background: -webkit-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
        background: -o-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
        color: #666666;
        height: 207px;
        padding: 4px 4px 0 4px;
        overflow-x: hidden;
        overflow-y: auto;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
}

#roster .one-group {
        margin-bottom: 10px;
}

#roster .one-group a.group {
        color: #202c2f;
        font-size: 0.8em;
        margin: 3px 6px;
        padding-left: 12px;
        max-height: 15px;
        text-decoration: none;
        overflow: hidden;
        display: block;
}

html[dir="rtl"] #roster .one-group a.group {
        float: right;
}

#roster .one-group a.group.plus {
        background-position: -4px -1143px;
}

#roster .one-group a.group.minus {
        background-position: -4px -1162px;
}

#roster .one-group a.group:hover {
        cursor: pointer;
}

#roster .hidden-buddy,
#roster .foot-edit-finish,
.buddy-conf-more-display-available {
        display: none;
}

#roster .group-buddy {
        clear: both;
}

#roster .buddy {
        width: 100%;
        height: 50px;
        margin-bottom: 4px;
        clear: both;
}

#roster .buddy-click {
        background: #C5C5C5;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
}

#roster .buddy-click:hover,
#roster .buddy-click:focus {
        background: #cedee1;
        cursor: pointer;
}

#roster .buddy-click:active {
        background: #c3d3d7;
}

#roster .gateway {
        height: 27px;
}

#roster .gateway .name {
        margin-left: 0;
}

#roster .gateway .buddy-presence {
        float: left;
        overflow: hidden;
        width: 0;
        margin: 0 4px;
}

#roster .avatar-container {
        float: left;
        text-align: center;
        margin: 3px;
        width: 46px;
        height: 46px;
}

html[dir="rtl"] #roster .avatar-container {
        float: right;
}

#roster .avatar {
        max-width: 44px;
        max-height: 44px;
}

#roster .name {
        margin: 4px 3px 5px 56px;
}

html[dir="rtl"] #roster .name {
        margin-left: auto;
        float: right;
}

#roster .buddy-name {
        height: 17px;
        font-weight: bold;
        font-size: 0.85em;
        color: #264249;
        margin: 5px 0 5px 2px;
        overflow: hidden;
}

#roster .buddy.blocked p.buddy-name {
        text-decoration: line-through;
}

#roster .buddy-presence {
        height: 14px;
        font-size: 0.7em;
        color: #3a585e;
        padding: 2px 0 0 16px;
        margin-top: -3px;
}

html[dir="rtl"] #roster .buddy-presence {
        float: right;
}

#roster .unavailable,
#page-switch .unavailable,
#page-engine p.bc-infos span.show.unavailable {
        background-position: 0 -153px;
}

#roster .available,
#page-engine p.bc-infos span.show.available,
#page-engine .list .available,
#page-engine .list .chat,
#page-switch .available,
#my-infos .f-presence a[data-value="available"] span {
        background-position: 0 -169px;
}

#roster .away,
#page-engine p.bc-infos span.show.away,
#page-engine .list .away,
#page-switch .away,
#my-infos .f-presence a[data-value="away"] span {
        background-position: 0 -185px;
}

#roster .busy,
#page-engine p.bc-infos span.show.busy,
#page-engine .list .xa,
#page-engine .list .dnd,
#page-switch .busy,
#my-infos .f-presence a[data-value="xa"] span {
        background-position: 0 -201px;
}

#roster .error,
#page-switch .error,
#page-engine p.bc-infos span.show.error {
        background-position: 0 -217px;
}

#roster .buddy-infos {
        position: absolute;
        z-index: 100;
        width: 337px;
        color: white;
        font-size: 0.8em;
}

.buddy-infos-subarrow {
        background-position: 0 -241px;
        opacity: 0.8;
        width: 9px;
        height: 20px;
        margin-top: 12px;
        float: left;
}

html[dir="rtl"] .buddy-infos-subarrow {
        background-position: -10px -241px;
        float: right;
}

.buddy-infos-subitem {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
        padding: 8px 10px;
        width: 308px;
        text-shadow: 0 1px 1px black;
        float: left;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
}

html[dir="rtl"] .buddy-infos-subitem {
        float: right;
}

.manage-infos p.bm-authorize,
#rosterx .oneresult span.action.add {
        background-position: 0 -1181px;
}

.manage-infos p.bm-remove,
#rosterx .oneresult span.action.delete,
#attach div.one-file a.remove {
        background-position: 0 -1200px;
}

.manage-infos p.bm-remove {
        margin-bottom: 18px;
}

.manage-infos p.bm-rename {
        background-position: 0 -1216px;
}

.manage-infos p.bm-group {
        background-position: 0 -1241px;
}

.manage-infos div.bm-choose {
        max-height: 95px;
        margin: 0 0 8px 102px;
        overflow: auto;
}

.manage-infos div.bm-choose label {
        float: left;
        clear: both;
        margin-bottom: 1px;
}

.manage-infos div.bm-choose input {
        float: left;
}

.manage-infos div.bm-choose input[type="checkbox"] {
        margin: 0 6px 0 0;
}

.manage-infos div.bm-choose div {
        clear: both;
}

.manage-infos p.bm-rename,
.manage-infos p.bm-group {
        height: 26px;
}

.manage-infos p.bm-rename label,
.manage-infos p.bm-group label {
        width: 80px;
        padding-top: 3px;
        float: left;
}

html[dir="rtl"] .manage-infos p.bm-rename label,
html[dir="rtl"] .manage-infos p.bm-group label {
        float: right;
}

.manage-infos p.bm-rename input,
.manage-infos p.bm-group input {
        float: left;
        width: 155px;
}

html[dir="rtl"] .manage-infos p.bm-rename input,
html[dir="rtl"] .manage-infos p.bm-group input {
        float: right;
}

.manage-infos a.save {
        float: right;
        margin: 4px;
}

.buddy-infos-subitem p {
        margin: 6px 0;
        padding-left: 22px;
        height: 16px;
        overflow: hidden;
}

.buddy-infos-subitem a {
        color: white;
        text-decoration: underline;
}

.tune-note {
        background-position: 0 -676px;
}

.location-world {
        background-position: 0 -658px;
}

.call-jingle {
        background-position: 1px -2047px;
}

body.in_jingle_call .call-jingle,
body.in_muji_call .call-jingle,
body.in_jingle_call .roster-muji,
body.in_muji_call .roster-muji {
        opacity: 0.35;
}

.call-jingle,
.call-jingle a.audio,
.call-jingle a.video,
.call-jingle span.separator {
        display: none;
}

body.in_jingle_call .call-jingle a,
body.in_muji_call .call-jingle a,
body.in_jingle_call .roster-muji a,
body.in_muji_call .roster-muji a {
        cursor: default;
}

.view-individual {
        background-position: 0 -34px;
}

.edit-buddy {
        background-position: 0 -1008px;
}

#roster .filter {
        background-color: white;
        border-top: 1px solid #b8c2c4;
        height: 15px;
        padding: 2px 4px;
        font-size: 0.8em;
        -moz-border-radius-bottomleft: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
}

#roster .filter input {
        border: none;
        color: #273a3f;
        width: 211px;
        padding: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
}

#roster .filter a {
        display: none;
        background-color: #9a2d2d;
        color: white;
        height: 13px;
        width: 13px;
        margin-top: 1px;
        font-size: 0.8em;
        text-align: center;
        text-decoration: none;
        float: right;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
}

html[dir="rtl"] #roster .filter a {
        float: left;
}

#roster .filter a:hover,
#roster .filter a:focus {
        background-color: #8c2121;
}

#roster .filter a:active {
        background-color: #7e1919;
}

#roster .foot {
        padding: 9px 1px 3px;
}

#roster .roster-icon {
        height: 16px;
        width: 16px;
        margin: -3px 5px 0 0;
        float: left;
        position: relative;
}

html[dir="rtl"] #roster .roster-icon {
        margin-right: 0;
        margin-left: 5px;
        float: right;
}

#roster .roster-icon a.talk-images {
        height: 16px;
        width: 16px;
        display: block;
}

#roster .add,
#page-engine .text .tools-add {
        background-position: 0 -1047px;
}

#roster .join {
        background-position: 0 -1065px;
}

#roster .groupchat,
#page-switch .groupchat-default {
        background-position: 0 -1082px;
}

#roster .muji {
        background-position: 0 -2047px;
}

#roster .more {
        background-position: 0 -1100px;
}

#roster .foot-edit-finish a {
        color: white;
        font-size: 0.8em;
        margin: -3px 4px 0 0;
        float: right;
        display: block;
}

#roster .foot-edit-finish a:hover,
#roster .foot-edit-finish a:focus {
        text-decoration: underline;
        cursor: pointer;
}

.buddy-conf-item {
        position: absolute;
        left: -10px;
        width: 263px;
        color: white;
        z-index: 9998;
        font-size: 0.8em;
}

html[dir="rtl"] .buddy-conf-item {
        left: auto;
        right: -10px;
}

.buddy-conf-item:hover {
        cursor: default;
}

.buddy-conf-subarrow {
        background-position: 0 -241px;
        opacity: 0.8;
        height: 10px;
        width: 18px;
        margin-left: 9px;
        float: left;
}

html[dir="rtl"] .buddy-conf-subarrow {
        margin-left: auto;
        margin-right: 9px;
        float: right;
}

.buddy-conf-muji .buddy-conf-subarrow {
        margin-left: 8px;
}

html[dir="rtl"] .buddy-conf-muji .buddy-conf-subarrow {
        margin-right: 8px;
}

.buddy-conf-subitem {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
        margin-top: 10px;
        padding: 10px;
        text-shadow: 0 1px 1px black;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
}

.buddy-conf-p {
        margin-bottom: 4px;
        width: 220px;
        font-weight: bold;
        float: left;
}

html[dir="rtl"] .buddy-conf-p {
        float: right;
}

.buddy-conf-input {
        padding-top: 2px;
}

.buddy-conf-text {
        font-size: 11px;
        clear: both;
        margin-bottom: 3px;
}

.buddy-conf-text a {
        color: white;
}

.buddy-conf-text a:hover,
.buddy-conf-text a:focus {
        cursor: pointer;
        text-decoration: underline;
}

.buddy-conf-text a.buddy-conf-add-search {
        text-decoration: underline;
        margin-top: 6px;
        display: block;
}

.buddy-conf-select {
        font-size: 1.1em;
        clear: both;
        margin-bottom: 8px;
        width: 180px;
        height: 23px;
}

.join-jid {
        width: 220px;
        margin-top: 5px;
}

.add-contact-jid,
.add-contact-name,
.add-contact-gateway {
        width: 156px;
        margin-bottom: 4px;
}

.add-contact-name-get {
        font-size: 0.8em;
        display: none;
}

.buddy-conf-subitem label {
        clear: both;
}

.buddy-conf-subitem label span {
        width: 76px;
        height: 14px;
        margin-top: 3px;
        overflow: hidden;
        float: left;
}

html[dir="rtl"] .buddy-conf-subitem label span {
        float: right;
}

#buddy-conf-join ul {
        width: 224px;
        max-height: 160px;
        left: 10px;
        top: 50px;
}

html[dir="rtl"] #buddy-conf-join ul {
        left: auto;
        right: 10px;
}

.buddy-conf-join-select {
        margin: 8px 0 0 0;
}
